.app__certifications {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__certifications > h2 {
    margin-top: 2.5rem;
}

.app__certification-container {
    width: 52vw;
    margin-top: 3rem;

    @media screen and (max-width: 900px) {
      width: 70vw;
    }

    @media screen and (max-width: 650px) {
      width: 62vw;
    }

    @media screen and (max-width: 500px) {
      width: 92vw;
    }
}

.swiper-slide {
  text-align: center;   

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
